@charset "UTF-8";
@font-face {
    font-family: 'Logo';
    src: url('../html/PermanentMarker-Regular.ttf')
}
/*Corpo do Site*/
body {
    background-color: darkgrey;
}

/*Área de menu do site*/
.menu{
    border: solid black 4px;
    background-color: azure;
}
.menu .nav {
    text-align:center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0px;
}

.menu .nav li{
    margin: 0px;
    padding: 20px;
    list-style: none;
}

.menu .nav li a {
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-family: Arial, sans-serif;
    font-weight: bold;
 }

.menu .nav li:hover {
    background-color: rgba(231, 76, 76, 0.5);
    color: black;
}
#imagemmenu {
    height: 70px;
    display: flex;
    float: left;
    flex-direction: row;
}

#imagemmenu img{
    width: 50px;
    height:70px;
    border-radius: 15px;
    border: solid 1px black;
    box-shadow: 4px 4px 10px black;
}

/*Parte principal do site*/

#rest{
    width: 40px;
    background: none;
    position: fixed;
    bottom: 130px;
    right: 11px;
}

#rest:hover{
    cursor:pointer;
    transform: rotate(359deg);
    transition: all 1s ease;
}

#imagemlinke{
    width: 50px;
    position: fixed;
    bottom: 30px;
    right: 5px;
}

#imagemlinke:hover{
    cursor:pointer;
    transform: rotate(359deg);
    transition: all 1s ease;
}

#imagemgithub{
    width: 50px;
    position: fixed;
    bottom: 80px;
    right: 5px;
}

#imagemgithub:hover{
    cursor:pointer;
    transform: rotate(359deg);
    transition: all 1s ease;
}

main {
    margin: 5% 10% 10% 10%;
}

h1 {
    text-align: center;
    font-size: 30px;
    font-family: 'Logo', sans-serif;
}

main .listagem-obra {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    justify-content: center;
}

main .cartao-obra {
    background-color: azure;
    width: 200px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border-radius: 15px;
    box-shadow: 10px 4px 8px black;
    transition: 0.2s ease-in-out;
}

main .cartao-obra img {
    box-shadow: 4px 4px 4px black;
    border-radius: 15px;
}

main .cartao-obra h2 {
    font-family: 'Logo', sans-serif;
    text-align: center;
}

main .cartao-obra:hover {
    transform: scale(1.05);
    cursor: pointer;
    background-color:rgba(42, 170, 230, 0.3);
}

/*RodaPé*/

footer#rodape {
    clear: both;
    background-color: azure;
    border: solid black 4px;
    margin: 5% 10% 0% 0%;
    width: 100%;
    height: auto;
}

footer#rodape p{
    text-align: center;
    font-size: 30px;
    font-family: cursive;
}