@charset "UTF-8";
@font-face {
    font-family: 'Logo';
    src: url('../html/PermanentMarker-Regular.ttf')
}

body {
    background-color: darkgrey;
}
.menu h3{
    display: inline-block;
    padding-left: 0%;
    margin: 0%;
}
.menu {
    text-align: center;
    background-color: azure;
    width: auto;
}

.menu a, h3{
    text-decoration: none;
    color: rgb(53, 53, 53);
    padding: 15px 30px;
}

.menu a:hover {
    background-color: rgba(255, 149, 149,0.3);
    color: rgb(10, 10, 10);
}

h1 {
    text-align: center;
    font-family: 'Logo', sans-serif;
    font-size: 5vh;
    margin: 0% 10% 0% 10%;
}

#imgprincipal { 
    margin: 0%;
    padding: 0% 43% 0% 43%;
}

#imgprincipal img {
    border: 4px solid white;
    border-radius: 50%;
    box-shadow: 1px 4px 10px 10px black;
    max-width:100%;
    max-height:100%;
    width: auto;
    height: auto;
}

div.Texto {
    margin: 0% 10% 0% 10%; 
}

p {
    text-align: center;
    font-size: 30px;
    font-family: Arial;
}

.Texto{
    margin: 0 50vh 50vh 50vh;
}

.Texto h2{
    font-size: 40px;
    font-family: Verdana;
    text-align: center;
}

ul {
    text-align: center;
    text-align: justify;
    font-size: 20px;
    font-family: Arial;
    margin: 0% 10% 0% 20%; 
}

.imgtexto {
    margin: 0% 10% 0% 25%;
    width: 50%;
}

.imgtexto img{
    border: 4px solid white;
    border-radius: 50%;
    box-shadow: 1px 4px 10px 10px black;
    width: 100%;
    height: auto;
}

.rodape {
    background-color: azure;
    width: 50%;
    margin: 0% 10% 0% 27%; 
}

.rodape p{
    text-align: center;
    font-size: 30px;
    font-family: cursive;
}

p a {
    text-decoration: none;
    background-color: azure;
    color: black;
    word-wrap: break-word;
}

p a:hover {
    background-color: rgba(255, 149, 149,0.3);
    color: rgb(10, 10, 10);
}

div#video h1{
    font-family: Arial;
    font-size: 40px;  
}

div#video iframe {
    border: 10px solid rgba(14, 13, 13,.2);
    box-shadow: 3px 3px 1px black;
    left: 150px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div#video {
    margin: 0% 10% 0% 10%;
    position: relative;
    padding-bottom: 56.25%; 
    padding-top: 25px;
    height: 0;
    margin:0 auto; 
}
